<div class="containr text-center">
  <div class="row pt-4 justify-content-sm-center">
    <div clss="col-sm-12">
      {{ errorMessage }}
    </div>
  </div>
  <div class="row pt-4 justify-content-sm-center">
    <div class="col-sm-1">
      <app-seat-item [seat]="frontLeftSeat" [disableSeat]="disableSeats" [vehicleId]="vehicleId"></app-seat-item>
    </div>
    <div class="col-sm-1">
      <app-seat-item [seat]="frontRightSeat" [disableSeat]="disableSeats" [vehicleId]="vehicleId"></app-seat-item>
    </div>
  </div>
  <div class="row pt-4 justify-content-sm-center">
    <div class="col-sm-1">
      <app-seat-item [seat]="rearLeftSeat" [disableSeat]="disableSeats" [vehicleId]="vehicleId"></app-seat-item>
    </div>
    <div class="col-sm-1">
      <app-seat-item [seat]="rearCenterSeat" [disableSeat]="disableSeats" [vehicleId]="vehicleId"></app-seat-item>
    </div>
    <div class="col-sm-1">
      <app-seat-item [seat]="rearRightSeat" [disableSeat]="disableSeats" [vehicleId]="vehicleId"></app-seat-item>
    </div>
  </div>
  <div class="row pt-4 justify-content-sm-center">
    <div class="col-sm-2">
      <button class="btn-info" (click)="wakeUpVehicle()" [disabled]="disabled">Refresh Data</button>
    </div>

    <div class="col-sm-2">
      <button (click)="toggleClimate()" [disabled]="climate.disabled" ngClass="climate.state ? 'btn-primary' : 'btn-secondary' ">
        {{ climate.state ? "Turn Off Climate" : "Turn On Climate" }}
      </button>
    </div>

    <div class="col-sm-2">
      <button class="btn-info" (click)="getVehicleClimateState()">Get Vehicle Climate State</button>
    </div>
  </div>
</div>

